table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

th {
    font-weight: bold;
    background-color: #E6E6E6;
}

.first-div {
    margin-bottom: 50px;
}

.hour {
    color: red
}

.min {
    color: green
}

.sec {
    color: blue
}

.menu ul {
    margin: 0;
    list-style: none;
    padding-left: 20px;
    display: none;
}

.menu .title {
    font-size: 18px;
    cursor: pointer;
}

.menu .title::before {
    content: '▶ ';
    font-size: 80%;
    color: green;
}

.menu.open .title::before {
    content: '▼ ';
}

.menu.open ul {
    display: block;
}
  
h3 {
    margin: 0;
    padding-bottom: .3em;
    font-size: 1.1em;
}
  
p {
    margin: 0;
    padding: 0 0 .5em;
}
  
.pane {
    background: #edf5e1;
    padding: 10px 20px 10px;
    border-top: solid 2px #c4df9b;
}
  
.remove-button {
    font-size: 110%;
    color: darkred;
    right: 10px;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
}
