table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

th {
    font-weight: bold;
    background-color: #E6E6E6;
}

.first-div {
    margin-bottom: 50px;
}

.hour {
    color: red
}

.min {
    color: green
}

.sec {
    color: blue
}

.menu ul {
    margin: 0;
    list-style: none;
    padding-left: 20px;
    display: none;
}

.menu .title {
    font-size: 18px;
    cursor: pointer;
}

.menu .title::before {
    content: '▶ ';
    font-size: 80%;
    color: green;
}

.menu.open .title::before {
    content: '▼ ';
}

.menu.open ul {
    display: block;
}
  
h3 {
    margin: 0;
    padding-bottom: .3em;
    font-size: 1.1em;
}
  
p {
    margin: 0;
    padding: 0 0 .5em;
}
  
.pane {
    background: #edf5e1;
    padding: 10px 20px 10px;
    border-top: solid 2px #c4df9b;
}
  
.remove-button {
    font-size: 110%;
    color: darkred;
    right: 10px;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
}

#cover-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.3;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#prompt-form {
  display: inline-block;
  padding: 5px 5px 5px 70px;
  width: 200px;
  border: 1px solid black;
  background: white url(https://en.js.cx/clipart/prompt.png) no-repeat left 5px;
  vertical-align: middle;
}

#prompt-form-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
}

#prompt-form-container:before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

#prompt-form input[name="text"] {
  display: block;
  margin: 5px;
  width: 180px;
}