body {
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}

span {
    font-family: serif;
    font-size: larger;
}

.first-d {
    width: 80%;
    overflow: auto;

    background-image: url("../tree.png");
    background-position: center;
    background-attachment: fixed;
    background-size: 900px;
    background-repeat: no-repeat;
}

.second-d {
    width: 80%;
    overflow: auto;
}

.third-d {
    width: 80%;
    overflow: auto;
}

h1{
    text-align: center;
    font-weight: bold;
    color: black;
    font-style: italic;
    font-family: Tahoma;
    text-decoration: underline;
}

.photo {
    text-align: center;
}

.tree {
    width: 80%;
    margin: 5px;
    padding: 4px;
    
    position: relative;
    left: 200px;

    font-weight: bold;
    text-shadow: black 1px 1px 0, black -1px -1px 0, 
    black -1px 1px 0, black 1px -1px 0;
}

.button-class {
    text-align: center;
}

.button-class li {
    display: inline-block;
    padding: 4px;
    line-height: 2.0;
    font-size: 90%;

    z-index: 12;
}

.button-wiki {
    padding-top: 10px;
    padding-left: 5%;

    position: relative;
    left: 200px;
    
    z-index: 12;
}

.button-start {
    position: fixed;
    bottom: 40px;
    text-align: center;

    z-index: 12;
}

.button-classification {
    position: fixed;
    padding-left: 87%;
    bottom: 40px;
    text-align: center;

    z-index: 12;
}

.div-start {
    padding-left: 2%;
}

.gallery {
    position: relative;
    background-color: lightsteelblue;
    border: steelblue 3px solid;
    height: 500px;
    width: 500px;
  
    position: relative;
    left: 300px;
}

.image {
    position: absolute;
    margin: 10px;
    border: 3px solid gray;
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.image:hover {
    height: 250px;
    width: 250px;
    border: red 3px solid;

    z-index: 11;
}

div#image1 {
    background-image: url(../gallery/1.png);
    top: 0px;
    left: 0px;
}

div#image2 {
    background-image: url(../gallery/2.png);
    top: 200px;
    left: 0px;
}

div#image3 {
    background-image: url(../gallery/3.png);
    top: 0px;
    right: 0px;
}

div#image4 {
    background-image: url(../gallery/4.png);
    top: 200px;
    right: 0px;
}

div#image5 {
    background-image: url(../gallery/5.png);
    top: 0px;
    left: 0px;
}

div#image6 {
    background-image: url(../gallery/6.png);
    top: 200px;
    left: 0px;
}

div#image7 {
    background-image: url(../gallery/7.png);
    top: 0px;
    right: 0px;
}

div#image8 {
    background-image: url(../gallery/8.png);
    top: 200px;
    right: 0px;
}

link{
    font-weight: bold;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
    background-color: yellowgreen;
    border: 2px solid black;
    font-weight: bold;
    display: block;
    width: 140px;
    text-align: center;
    margin-bottom: 1px;
    border-radius: 20px;
    list-style: none;
}

a:hover, a:active {
    background-color: red;
}
